.card {
    background-color: #006D77;
    width: 23%;
    min-width: 310px;
    display: flex;
    justify-content: space-between;
    color: #FFDDD2;
    border-radius: 7px;
    padding: 10px 16px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.Name {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 20px;
}

.date {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    span {
        font-size: 15px;
        font-weight: 400;
    }
}

.description {
    font-size: 17px;
    font-weight: 400;
    margin-top: 15px;
    span {
        font-weight: 600;
    }
}

.stateTask {
    display: flex;
    /* align-items: center; */
    margin-top: 15px;
    .mark {
        width: 18px;
        margin-right: 10px;
    }
    .completed {
        margin-right: 5px;
    }
    p {
        font-size: 15px;
        font-weight: 200;
    }
}

.left {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
}
